<p align="center">
    {{#if devoured}}

    {{id}}.
    {{burger_name}}

    {{else}}

    {{id}}.
    {{burger_name}}

    <button class="change-state" data-id="{{this.id}}" data-nowDevour="true">
        Time to chow!
    </button>

    {{/if}}

</p>